@using AppDomainCore.CW18.Cards.Entities
@{
    Layout = "_Root";
}
@model Card;



<table style="text-align:center;align-items:center;margin:70px;width:500px" class="table table-bordered table-responsive table-primary table-hover">
    <thead style="text-align:center;align-items:center">
        <tr style="text-align:center;align-items:center">
            <th style="text-align:center;align-items:center">موجودی شما</th>
        </tr>
    </thead>
    <tbody style="text-align:center;align-items:center">
        <tr style="text-align:center;align-items:center">
            <td style="text-align:center;align-items:center">@Model.Balance</td>
            </tr>
    </tbody>
</table>

        
