@{
    Layout = "_User";
}

<div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form asp-action="ChengPassword" method="post">
        <h3>فرم ورود</h3>

        <label name="oldPass" for="oldPass">رمز قبلی</label>
        <input type="password" name="oldPass" placeholder="oldPass" id="oldPass">

        <label for="newPass">رمز عبور</label>
        <input name="newPass" type="password" placeholder="New Password" id="newPass">
        <input value="ورود" class="btn btn-success" id="bin" name="login" type="submit">
    </form>
</div>

