@{
    Layout = "_User";
}

<div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form asp-action="index">
        <h3>ورود با شماره کارت</h3>

        <label name="cardNumber" for="cardNumber">شماره کارت </label>
        <input type="text" name="cardNumber" placeholder="cardNumber" id="cardNumber">

        <label for="password">رمز عبور</label>
        <input name="password" type="password" placeholder="Password" id="password">
        <input value="ورود" class="btn btn-success" id="bin" name="login" type="submit">
    </form>
</div>